body {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images-login/beach_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.container {
  width: 90%;
  max-width: 40%;
  margin: 0 auto;
  border-radius: 30px;
  background-color: transparent;
  font-family: 'Lunasima', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  width: 75%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 20%;
}

.logo-container img {
  max-width: 70%;
  height: auto;
}

.input-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container input {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  border-radius: 30px;
  padding: 2%;
  width: 100%;
  max-width: 200px;
  margin: 2% 0;
}

.container button {
  background-color: #203864;
  color: white;
  border: 3px solid white;
  border-radius: 30px;
  padding: 5px;
  width: 100%;
  max-width: 20%;
  margin: 10px 60px;
  cursor: pointer;
}

.container button:hover {
  background-color: #09c1ff;
}

h2,
label,
button,
#message {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 10px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  margin-top: 10%;
}

/* Media query for 1080p screens */
@media screen and (min-width: 1920px) {
  .container {
    max-width: 40%;
  }
}

/* Media query for 4K screens */
@media screen and (min-width: 3840px) {
  .container {
    max-width: 20%;
  }
}
