<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="main-container">
  <div class="container">

    <!-- Temperature Card -->
    <div *ngIf="sensorValues$ | async as sensorValues">
      <div *ngFor="let timestamp of lastTimestamp">
        <div class="card" id="temp">
          <p class="card-text">
            <span>{{ sensorValues[timestamp]?.Temperature }}</span>
            <span class="card-sub-text">ºC</span>
          </p>
          <p class="under-text">Temperature</p>
          <input type="checkbox" id="tCheckbox" class="moon-checkbox" [(ngModel)]="showTemperature" (change)="redoAreaChart()">
          <label for="tCheckbox" class="moon-label"></label>
        </div>
      </div>
    </div>

    <!-- Potential Hydrogen (pH) Card -->
    <div *ngIf="sensorValues$ | async as sensorValues">
      <div *ngFor="let timestamp of lastTimestamp">
        <div class="card" id="ph">
          <p class="card-text">
            <span>{{ sensorValues[timestamp]?.['Potential Hydrogen'] }}</span>
            <span class="card-sub-text">pH</span>
          </p>
          <p class="under-text">Potential Hydrogen</p>
          <input type="checkbox" id="phCheckbox" class="moon-checkbox" [(ngModel)]="showPotentialHydrogen" (change)="redoAreaChart()">
          <label for="phCheckbox" class="moon-label"></label>
        </div>
      </div>
    </div>

    <!-- Total Dissolved Solids (TDS) Card -->
    <div *ngIf="sensorValues$ | async as sensorValues">
      <div *ngFor="let timestamp of lastTimestamp">
        <div class="card" id="tds">
          <p class="card-text">
            <span>{{ sensorValues[timestamp]?.['Total Dissolved Solids'] }}</span>
            <span class="card-sub-text">TDS</span>
          </p>
          <p class="under-text">Total Dissolved Solids</p>
          <input type="checkbox" id="tdsCheckbox" class="moon-checkbox" [(ngModel)]="showTDS" (change)="redoAreaChart()">
          <label for="tdsCheckbox" class="moon-label"></label>
        </div>
      </div>
    </div>

    <div *ngIf="sensorValues$ | async as sensorValues">
      <div *ngFor="let timestamp of lastTimestamp">
        <div class="card" id="tds">
          <p class="card-text">
            <span>{{ sensorValues[timestamp]?.['Dissolved Oxygen'] }}</span>
            <span class="card-sub-text">mg/L</span>
          </p>
          <p class="under-text">Dissolved Oxygen</p>
          <input type="checkbox" id="doCheckbox" class="moon-checkbox" [(ngModel)]="showDO" (change)="redoAreaChart()">
          <label for="doCheckbox" class="moon-label"></label>
        </div>
      </div>
    </div>

    <div *ngIf="sensorValues$ | async as sensorValues">
      <div *ngFor="let timestamp of lastTimestamp">
        <div class="card" id="tds">
          <p class="card-text">
            <span>{{ sensorValues[timestamp]?.['Turbidity'] }}</span>
            <span class="card-sub-text">NTU</span>
          </p>
          <p class="under-text">Turbidity</p>
          <input type="checkbox" id="turbCheckbox" class="moon-checkbox" [(ngModel)]="showTurb" (change)="redoAreaChart()">
          <label for="turbCheckbox" class="moon-label"></label>
        </div>
      </div>
    </div>

  </div>

  <!-- Chart Section -->
  <div class="chart-grid">

    <div class="chart" id="chart1"></div>



    <!-- Toolbox Section -->
    <div class="chart" id="chart1">
      <div class="toolbox">
        <div class="card_display">
          <div class="display">
            <span class="material-icons">water_drop</span>
            <div class="display_type">{{selectedWaterType}}</div>
            <div class="display_duration">{{selectedDuration}} days</div>
            
          </div>
        </div>



        <!-- Duration Selection -->
        <div class="radio-input">
          <input type="radio" id="value-1" name="value-radio" value="5" [(ngModel)]="selectedDuration" (change)="onDurationChange()">
          <div class="circle"></div>

          <input type="radio" id="value-2" name="value-radio" value="10" [(ngModel)]="selectedDuration" (change)="onDurationChange()">
          <div class="circle"></div>

          <input type="radio" id="value-3" name="value-radio" value="30" [(ngModel)]="selectedDuration" (change)="onDurationChange()">
          <div class="circle"></div>
        </div>

        <!-- Graph Type Selection -->
        <div class="radio-input">
          <input type="radio" id="tapwater" name="water-type" value="TAP WATER" [(ngModel)]="selectedWaterType" (change)="onWaterTypeChange()">
          <div class="circle_graph"></div>

          <input type="radio" id="saltwater" name="water-type" value="SALT WATER" [(ngModel)]="selectedWaterType" (change)="onWaterTypeChange()">
          <div class="circle_graph"></div>
        
          <input type="radio" id="freshwater" name="water-type" value="FRESH WATER" [(ngModel)]="selectedWaterType" (change)="onWaterTypeChange()">
          <div class="circle_graph"></div>
        </div>

        <!-- Buttons -->

        <button (click)="toggleChartType()">Chart</button>
        <button (click)="toggleChartType()">Full</button>

      </div>
    </div>
  </div>
</div>
