@import '../../wrapper/wrapper.component.css';

.main-container {
  display: block;
  width: 87%;
  height: 100vh;
  margin-left: 10%;
  flex-direction: column; /* Stack contents vertically */
  background-color: #212121; /* Replace with your desired background color */
}

.container {
  display: flex;
  margin-left: 5%;
  padding: 20px;  
  
}

.card {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 100px; /* Set a fixed height for the cards */
  background: linear-gradient(to right, rgb(20, 30, 48), #103F91);
  border-radius: 15px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7), -5px 0px 20px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
}

/* Add margin between the two blocks */
.container > div:not(:last-child) {
  margin-right: 20px; /* Adjust the margin between the two blocks */
}

.card-text {
  font-size: 1.5em; /* Adjusted font size */
  width: 100%;
  margin-top: 10%; /* Adjusted margin */
  margin-left: 15px;
  font-weight: 600;
  color: white; /* Ensure text is visible against the dark background */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-sub-text {
  font-size: 15px;
  margin-left: 5px;
  color: white; /* Ensure text is visible against the dark background */
}

.under-text {
  font-size: 15px;
  margin-top: 10px; /* Adjusted margin */
  margin-left: 15px;
  color: white; /* Ensure text is visible against the dark background */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.moon-checkbox {
  display: none;
}

.moon-label {
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 2px solid white; /* Adjust border color and size as needed */
  border-radius: 50%;
  position: relative; /* Changed position to relative */
  top: 0%; /* Adjust the distance from the top */
  left: 90%; /* Adjust the distance from the right */
  cursor: pointer;
}

.moon-checkbox:checked + .moon-label::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  background-color: #fff;
}

.chart-grid {
  display: flex;
  margin-left: 5%;
  
}

.chart {
  flex: 1; /* Each chart will take up equal space */
  height: auto; /* Set a fixed height for charts */
  margin-left: 2%;

}

.chart:first-child {
  flex: 8; /* 70% width for the first chart */
  margin-left: 15px;
  background: linear-gradient(to right, rgb(20, 30, 48), #103F91);
  border-radius: 15px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7), -5px 0px 20px rgba(0, 0, 0, 0.7);
}

.chart:last-child {
  flex: 2; /* 30% width for the last chart */
  /*background: linear-gradient(to right, rgb(20, 30, 48), #85a0ce);*/
  border-radius: 10px;
  /*box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7), -5px 0px 20px rgba(0, 0, 0, 0.7);*/
}


.toolbox {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20%;
}

.toolbox button {
  font-family: 'Ubuntu', sans-serif;
  width: 30%;
  height: 7vh;
  display: flex;
  margin-top: 10%;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7), -5px 0px 20px rgba(0, 0, 0, 0.7);
  color: #103F91;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
}

.toolbox button:hover {
  
  background-color: #93acff;
  transition-duration: .2s;
}



.card_display {
  width: 80%;
  background-color: #8a8a8a;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.display {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: relative;
  display: flex;
    justify-content: center;
  align-items: center; /* Center vertically */
}

.display_text {
  font-size: 10px;
  color: #93acff;
}

.material-icons {
  font-size: 20px;
  color: #93acff;
}

.radio-input {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
}

.radio-input input {
  appearance: none;
  width: 2em;
  height: 2em;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  border-radius: 50%;
  transition: .4s ease-in-out;
}

.radio-input input:hover {
  scale: 1.2;
  cursor: pointer;
  box-shadow: none;
}

.radio-input .circle {
  position: relative;
  top: 0.01em;
  left: -1.1em;
  width: 0.6em;
  height: 0.6em;
  background-color: #93acff;
  scale: 0;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.radio-input .circle_graph {
  position: relative;
  top: 0.01em;
  left: -1.1em;
  width: 0.6em;
  height: 0.6em;
  background-color: #f3d632;
  scale: 0;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.radio-input input:checked {
  box-shadow: none;

}

.radio-input input:checked + .circle { 
  transform: rotate(360deg);
  scale: 1;
}

.radio-input input:checked + .circle_graph { 
  transform: rotate(360deg);
  scale: 1;
}








@media screen and (min-width: 1920px) {

  .main-container {
    display: flex;
    width: 164vh;
    margin-left:12%;
    height: 93vh;
  }

  .container {
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    width: 300vh;
  }

  .card {
    width: 300px;
    height: 100px; /* Set a fixed height for the cards */
  }

  .container > div:not(:last-child) {
    margin-right: 20px; /* Adjust the margin between the two blocks */
  }
  
  
}
