<div class="main-container">
  <div class="container">

    <div *ngIf="sensorValues$ | async as sensorValues">
      <div *ngIf="lastTimestamp">
        <!-- Temperature Card -->
        <div class="card" id="temp">
          <p class="card-text">
            <span>{{ sensorValues[lastTimestamp].Temperature }}</span>
            <span class="card-sub-text">ºC</span>
          </p>
          <p class="under-text">Temperature</p>
        </div>
      </div>
    </div>

    <div *ngIf="sensorValues$ | async as sensorValues">
      <div *ngIf="lastTimestamp">
        <!-- pH Card -->
        <div class="card" id="ph">
          <p class="card-text">
            <span>{{ sensorValues[lastTimestamp]['Potential Hydrogen'] }}</span>
            <span class="card-sub-text">pH</span>
          </p>
          <p class="under-text">Potential Hydrogen</p>
        </div>
      </div>
    </div>
        <!-- Add more cards as needed -->
   
    
  
    <div class="card" id="tds">
      <p class="card-text"><span>--</span><span class="card-sub-text"> ppm</span></p>
      <p class="under-text">Total Dissolved Solids</p>
      <input type="checkbox" id="tdsCheckbox" class="moon-checkbox">
      <label for="tdsCheckbox" class="moon-label"></label>
    </div>

    <div class="card" id="do">
      <p class="card-text"><span>--</span><span class="card-sub-text">mg/L</span></p>
      <p class="under-text">Dissolved Oxygen</p>
      <input type="checkbox" id="doCheckbox" class="moon-checkbox">
      <label for="doCheckbox" class="moon-label"></label>
    </div>

    <div class="card" id="turb">
      <p class="card-text"><span>--</span><span class="card-sub-text"></span></p>
      <p class="under-text">Turbidity</p>
      <input type="checkbox" id="turbCheckbox" class="moon-checkbox">
      <label for="turbCheckbox" class="moon-label"></label>
    </div>

  </div>

  <!-- Move chart-grid outside of the container -->
  <div class="chart-grid">
    <!-- Add more squares as needed -->
    <div class="chart" id="chart1"></div>
    <div class="chart" id="chart2"></div>
  </div>

</div>
