<div class="main-container">
  <div class="container">
    <div class="center-title">
      <h1>{{ getGreeting() }}</h1>
      <p>Welcome to LIMPID. Explore and enjoy the features we offer!</p>
    </div>
  </div>
  <div class="side-panel">
    <div *ngIf="seaConditions">
      <div *ngFor="let condition of seaConditions" class="weather-rectangle">
        <h3>Surface Temperature</h3>
        <p class="weather-info">
        {{ condition.sstMin }}°C - {{ condition.sstMax }}°C
      </p>
      </div>
      <div *ngFor="let condition of seaConditions" class="weather-rectangle">
        <h3>Wave High</h3>
        <p class="weather-info">
        {{ condition.waveHighMin }}m - {{ condition.waveHighMax }}m
      </p>
      </div>
    </div>
  </div>
</div>
