@import '../../wrapper/wrapper.component.css';


.main-container {
  display: flex;
  width: 81%;
  height: 90vh;
  margin-left: 15%;
  background: url('/assets/images-home/background_home.jpg') center center / cover no-repeat; 
}

.container {
  background-color: transparent;
  border-radius: 10px 10px 0 0;
  width: 300vh;
}

.side-panel {
  margin-top: 5%;
  width: 80%; /* Adjust the width as needed */
  background-color: transparent;
  margin-left: 10%;
}

.weather-rectangle {
    background-color: #212121;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;

  }
  
  .weather-rectangle h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold; /* Add this line to make the text bold */
    color: #e2b50e;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .weather-info {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: white;
  }
  

.center-title {
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
    color: white;
    font-size: 90%;
    display: flex;
    padding: 30px;
    justify-content: left;
    align-items: top;
  }
  
  /* Adjusted margin to move the image up */
  .image-container {
    text-align: left;
    margin-top: 20px;
  }
  
  /* Ensures the image is responsive within its container */
  .image-container img {
    max-width: 65%;
    border-radius: 10px;
  }


  @media screen and (min-width: 1920px) {

    .main-container {
      display: flex;
      width: 164vh;
      margin-left:12%;
      height: 93vh;
    }

    .container {
      background-color: transparent;
      border-radius: 10px 10px 0 0;
      width: 300vh;
    }
    
    .side-panel {
      margin-top: 5%;
      width: 90%; /* Adjust the width as needed */
      background-color: tra;
      margin-left: 10%;
    }
    

    .weather-rectangle {
      background-color: #212121;
      width: 70%;
      margin-bottom: 50%;
      margin-right: 50%;
      border-radius: 10px 10px 10px 10px;
  
    }

    .center-title {
      font-family: 'Ubuntu', sans-serif;
      flex-direction: column;
      color: white;
      font-size: 20px;
      display: flex;
      
    }
    
    
}